.loader{
    width:150px;
    height:30;
    border:1px solid #ddd;
    top:40%;
    position: absolute;
    left:45%;
}
a{
    color:grey !important;
}
a:hover{
    text-decoration: none !important;
}